<section id="how-it-works" class="ts-block text-center">
    <div class="container">
        <div class="ts-title">
            <h2>Comment ça fonctionne</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-xl-4">
                <figure data-animate="ts-fadeInUp">
                    <figure class="icon mb-5 p-2">
                        <img src="/assets/img/icon-watch-heart.png" alt="">
                        <div class="ts-svg ts-svg__organic-shape-01" data-animate="ts-zoomInShort"></div>
                    </figure>
                    <h4>Surveillez les disponibilités</h4>
                    <p>
                        ALPHAPREF vérifie constamment les créneaux disponibles sur les sites de la préfecture pour vous.
                    </p>
                </figure>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4">
                <figure data-animate="ts-fadeInUp" data-delay="0.1s">
                    <figure class="icon mb-5 p-2">
                        <img src="/assets/img/icon-lcd-chart.png" alt="">
                        <div class="ts-svg ts-svg__organic-shape-02" data-animate="ts-zoomInShort"></div>
                    </figure>
                    <h4>Analyse des créneaux</h4>
                    <p>
                        ALPHAPREF analyse les créneaux disponibles et vous alerte dès qu'un créneau convenable est
                        trouvé.
                    </p>
                </figure>
            </div>
            <div class="col-sm-6 offset-sm-4 col-md-4 offset-md-0 col-xl-4">
                <figure data-animate="ts-fadeInUp" data-delay="0.2s">
                    <figure class="icon mb-5 p-2">
                        <img src="/assets/img/icon-cup-winner.png" alt="">
                        <div class="ts-svg ts-svg__organic-shape-03" data-animate="ts-zoomInShort"></div>
                    </figure>
                    <h4>Obtenez votre rendez-vous</h4>
                    <p>
                        ALPHAPREF réserve automatiquement votre rendez-vous dès qu'un créneau est disponible.
                    </p>
                </figure>
            </div>
        </div>
    </div>
</section>
