<section id="numbers" class="ts-block ts-separate-bg-element" data-bg-image="/assets/img/pattern-topo.png"
    data-bg-image-opacity=".05" data-bg-size="inherit" data-bg-repeat="repeat">
    <div class="container">
        <div class="ts-promo-numbers">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ts-promo-number text-center">
                        <h2 data-animate="ts-zoomIn">500+</h2>
                        <h3 class="mb-0 ts-opacity__50">Rendez-vous Pris</h3>
                        <span class="ts-promo-number-divider"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ts-promo-number text-center">
                        <h2 data-animate="ts-zoomIn" data-delay="0.2s">3,000+</h2>
                        <h3 class="mb-0 ts-opacity__50">Utilisateurs</h3>
                        <span class="ts-promo-number-divider"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ts-promo-number text-center">
                        <h2 data-animate="ts-zoomIn" data-delay="0.2s">30%</h2>
                        <h3 class="mb-0 ts-opacity__50">Temps Économisé</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
