<section id="organize" class="ts-block mt-5" data-bg-color="#f6f6f6" data-bg-image="/assets/img/bg-shapes-02.png">
    <div class="container">
        <div class="ts-title text-center">
            <h2>Organisez Vos Rendez-vous!</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4">
                <figure class="text-right ts-xs-text-center" data-animate="ts-fadeInUp">
                    <figure class="icon">
                        <img src="/assets/img/icon-watch-heart.png" alt="">
                    </figure>
                    <h4 class="mb-2">Automatisation Efficace</h4>
                    <p>
                        Laissez ALPHAPREF gérer la recherche et la réservation de créneaux pour vous. Gagnez du temps en
                        automatisant le processus.
                    </p>
                </figure>
                <figure class="text-right ts-xs-text-center" data-animate="ts-fadeInUp" data-delay=".1s">
                    <figure class="icon">
                        <img src="/assets/img/icon-lcd-chart.png" alt="">
                    </figure>
                    <h4 class="mb-2">Alertes en Temps Réel</h4>
                    <p>
                        Recevez des notifications instantanées dès qu'un créneau est disponible, pour ne jamais manquer
                        une opportunité.
                    </p>
                </figure>
                <figure class="text-right ts-xs-text-center" data-animate="ts-fadeInUp" data-delay=".3s">
                    <figure class="icon">
                        <img src="/assets/img/icon-cup-winner.png" alt="">
                    </figure>
                    <h4 class="mb-2">Réservation Simplifiée</h4>
                    <p>
                        ALPHAPREF facilite la réservation en ligne avec un processus simple et rapide, directement
                        depuis votre navigateur.
                    </p>
                </figure>
            </div>

            <div class="col-md-4 my-5 d-flex justify-content-center align-items-center">
                <div class="image position-relative">
                    <img src="/assets/img/img-phone-1st-screen.png" class="mw-100" alt="" data-animate="ts-zoomInShort"
                        data-delay=".1s">
                    <aside class="ts-svg ts-svg__organic-shape-01 ts-background-size-contain"
                        data-animate="ts-zoomInShort" data-delay=".4s"></aside>
                </div>
            </div>

            <div class="col-md-4">
                <figure class="ts-xs-text-center" data-animate="ts-fadeInUp">
                    <figure class="icon">
                        <img src="/assets/img/icon-watch-heart.png" alt="">
                    </figure>
                    <h4 class="mb-2">Choix de la date la plus proche</h4>
                    <p>
                        Notre algorithme optimise vos chances en sélectionnant automatiquement la date la plus proche
                        disponible.
                    </p>
                </figure>
                <figure class="ts-xs-text-center" data-animate="ts-fadeInUp" data-delay=".1s">
                    <figure class="icon">
                        <img src="/assets/img/icon-lcd-chart.png" alt="">
                    </figure>
                    <h4 class="mb-2">Remplissage automatique du formulaire</h4>
                    <p>
                       AlphaPref pré-remplit tous les formulaires nécessaires, économisant votre temps et évitant les
                       erreurs.
                    </p>
                </figure>
                <figure class="ts-xs-text-center" data-animate="ts-fadeInUp" data-delay=".3s">
                    <figure class="icon">
                        <img src="/assets/img/icon-cup-winner.png" alt="">
                    </figure>
                    <h4 class="mb-2">Confirmation automatique du rendez-vous</h4>
                    <p>
                       Gardez simplement votre boîte mail ouverte, et AlphaPref confirmera automatiquement votre
                       rendez-vous.
                    </p>
                </figure>
            </div>
        </div>
    </div>
</section>
