<section id="what-is" class="ts-block" data-bg-color="#f6f6f6">
    <div class="container">
        <div class="ts-title">
            <h2>Qu'est-ce qu'ALPHAPREF ?</h2>
        </div>
        <div class="row">
            <div class="col-md-5 col-xl-5" data-animate="ts-fadeInUp" data-offset="100">
                <p>
                    AlphaPref est une extension qui garantit l'automatisation totale de la prise de vos rendez-vous en
                    préfecture, grâce à des fonctionnalités intelligentes et automatisées.
                </p>
                <p>
                    Avec ALPHAPREF, vous pouvez laisser l'extension faire le travail pour vous. Elle surveille les
                    créneaux disponibles, vous alerte dès qu'un créneau est trouvé, et peut même réserver
                    automatiquement pour vous.
                </p>
                <a href="#download_url" class="btn btn-primary mb-4 ts-scroll">Téléchargez maintenant !</a>
            </div>
            <div class="col-md-7 col-xl-7 text-center" data-animate="ts-fadeInUp" data-delay="0.1s" data-offset="100">
                <div class="px-3">
                    <img src="/assets/img/img-screen-desktop.jpg" class="mw-100 ts-shadow__lg ts-border-radius__md"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</section>
